<h3>Your movie have been added successfully.</h3>
<p>Following are the details you added...</p>
<ul>
    <li><b>Movie name</b>: {{ movieName }} </li>
    <li><b>Director</b>: {{ director }}</li>
    <li><b>ReleaseDate</b>: {{ releaseDate }} </li>
    <li><b>Rating</b>: {{ ratings }}</li>
    <li><b>Casts</b>: {{ casts }}</li>
    <li><b>User</b>: {{ userName }}</li>
</ul>